<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>BangJS • TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<style>[ng-cloak] { display: none; }</style>
	</head>
	<body ng-app="todomvc">
		<section ng-controller="todos" class="todoapp">
			<header class="header">
				<h1>todos</h1>
				<form ng-submit="add({ title: input.titleAdd })">
					<input ng-model="input.titleAdd" class="new-todo" placeholder="What needs to be done?" autofocus>
				</form>
			</header>
			<section ng-show="items.all.length" ng-cloak class="main">
				<input ng-model="input.allCompleted" ng-change="save(items.all, { completed: input.allCompleted })" class="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">
					<li ng-repeat="item in items[status]" ng-class="{completed: item.completed, editing: editing === item}">
						<div class="view">
							<input ng-model="item.completed" ng-change="save(item)" class="toggle" type="checkbox">
							<label ng-dblclick="edit(item)">{{item.title}}</label>
							<button class="destroy" ng-click="destroy(item)"></button>
						</div>
						<form ng-submit="save(editing, { title: input.titleEdit })">
							<input ng-model="input.titleEdit" todo-focus="editing === item" ng-blur="save(editing, { title: input.titleEdit })" todo-escape="edit(null)" class="edit">
						</form>
					</li>
				</ul>
			</section>
			<footer ng-show="items.all.length" ng-cloak class="footer">
				<span class="todo-count">
					<strong>{{items.active.length}}</strong>
					<ng-pluralize count="items.active.length" when="{one: 'item', other: 'items'}"></ng-pluralize> left
				</span>
				<ul class="filters">
					<li>
						<a ng-class="{selected: status === 'all'}" href="#/">All</a>
					</li>
					<li>
						<a ng-class="{selected: status === 'active'}" href="#/active">Active</a>
					</li>
					<li>
						<a ng-class="{selected: status === 'completed'}" href="#/completed">Completed</a>
					</li>
				</ul>
				<button ng-click="destroy(items.completed)" ng-show="items.completed.length" ng-cloak class="clear-completed">Clear completed</button>
			</footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<p>Created by <a href="http://twitter.com/timmolendijk">Tim Molendijk</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<script src="node_modules/todomvc-common/base.js"></script>
		<script src="node_modules/angular/angular.js"></script>
		<script src="node_modules/baconjs/dist/Bacon.js"></script>
		<script src="node_modules/bangjs/dist/bang.js"></script>
		<script src="js/app.js"></script>
		<script src="js/store.js"></script>
		<script src="js/directives.js"></script>
		<script src="js/todos.js"></script>
	</body>
</html>
